*{
    box-sizing: border-box;
    margin: 0px;
}
html{
    font-family: "Roboto", sans-serif;
}
header{
    background-color: darkslategray;
    padding: 30px;
    color: white;
}
footer{
    background-color: gray;
    padding: 30px;
    color: white;
}
nav{
    background-color: orangered;
}
body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}
.sidebar{
    padding: 50px;
    color: white;
}
.article{
    text-align: justify;
    width: 100%;
    background-color: white;
    color: black;
    padding: 50px;
    }
    